.feed {
	flex: 9;
	background: rgb(248, 240, 240);
	color: rgb(234, 226, 226);
	display: flex;
	justify-content: center;
	align-items: center;
	.feed__movies {
		height: 90%;
		width: 90%;
		display: flex;
		border: none;
		flex-direction: row;
		border-right: 1px solid lightgrey;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
		.formd {
			flex: 6;
			padding: 1rem !important;
			border: none;
			height: 80%;
			position: relative;
			margin: auto 0;
			border-right: 1px solid lightgrey;
			.form__input {
				width: 28rem !important;
			}
			input .form__input :focus {
				outline-width: 0 !important;
			}
			input,
			button,
			label {
				margin: 2.5rem 0 0 0 !important;
			}
			.movie {
				button {
					background: rgb(11, 85, 92);
					border-radius: 10px;
					padding: 0.15rem;
					width: 7rem;
				}
			}
			.amount {
				display: flex;
				align-items: center;
				.form__inputs {
					width: 14rem !important;
				}

				label {
					font-size: 0.9rem;
					color: black;
				}
			}
			.h4 {
				margin-top: -3rem;
				margin-bottom: 4rem;
				color: red;
				text-align: center;
			}
			.genre__list {
				position: absolute;
				background: black;
				color: white;
				height: 16rem !important;
				width: 90%;
				top: 28rem;
				z-index: 999 !important;
				padding: 0.6rem;
				p {
					margin-left: 0.6rem !important;
					font-size: 0.7rem;
					transition: all 0.5 ease-in-out;
					cursor: pointer;
				}
				&:hover {
					// text-decoration: underline;
				}
			}
			.submit {
				margin: 3rem 40% 1rem 40% !important;
			}
		}
		.select {
			width: 10rem;
		}
	}
	.movie__list {
		flex: 4;
		h4 {
			color: rgb(166, 164, 164);
		}
		input {
			padding: 0.8rem;
			width: 15rem;
			margin: 0.5rem auto 0 1rem !important;
			border-radius: 40px;
		}
		listing {
			width: 56% !important;
			margin: 0.5rem 0.5rem !important;
		}
		th {
			font-size: 0.7rem;
		}
		td {
			font-size: 0.7rem;
		}
	}
}
