@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap');
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-lgdesktop: 1480px;
@mixin phone($breakpoint-phone) {
	@media (max-width: $breakpoint-phone) {
		@content;
	}
}

// tablet mixin
@mixin tablet($breakpoint-phone) {
	@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
		@content;
	}
}
// laptop mixin
@mixin laptop($breakpoint-tablet) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin desktop($breakpoint-laptop) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin lgdesktop($breakpoint-desktop) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin lg($breakpoint-lgdesktop) {
	@media (min-width: $breakpoint-lgdesktop) {
		@content;
	}
}

.feed {
	flex: 9;
	background-image: url('../assets/tabular.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgb(234, 226, 226);
	display: flex;
	justify-content: center;
	align-items: center;

	.feed__movies {
		height: 90%;
		width: 90%;
		display: flex;
		border: none;
		flex-direction: row;
		border-right: 1px solid lightgrey;
		box-shadow: rgba(0, 0, 0, 0.08) -3px 4px 12px;
		.movie__listphone {
			flex: 4;
			box-shadow: rgba(100, 20, 10, 0.08) -3px 4px 12px !important;
			padding: 0.5rem;

			h4 {
				color: rgb(188, 29, 213);
			}
			input {
				padding: 0.5rem;
				width: 4.4rem;
				outline: none;
				color: white;
				margin: 0.5rem auto 0 1rem !important;
				border-radius: 40px;
				background: rgb(60, 60, 80);
				transition: all 0.5s ease-in-out;
				&:focus-within {
					width: 95%;
				}
			}
			.listing {
				width: 56% !important;
				margin: 0.5rem 0.5rem !important;
			}
			th {
				font-size: 0.7rem;
				color: yellow;
			}
			td:not(:first-child) {
				font-size: 0.7rem;
				color: rgb(60, 194, 11) !important;
				font-weight: bold !important;
			}
		}
		.formd {
			flex: 6;
			padding: 1rem !important;
			border: none;
			height: 87%;
			position: relative;
			border-radius: 10px;
			background: linear-gradient(
				rgba(46, 20, 6, 0.9) 70%,
				hsla(44, 77%, 8%, 0.7)
			) !important;
			margin: auto 0;
			.tabular {
				margin-top: -3rem;
				cursor: pointer;
				margin-bottom: 4rem;
				color: rgb(206, 13, 148);
				text-align: center;
				&:hover {
					color: rgb(31, 64, 45);
				}
				display: none;
			}
			.form__input {
				width: 28rem !important;
			}
			input .form__input :focus {
				outline-width: 0 !important;
			}
			input,
			button,
			label {
				margin: 2.5rem 0 0 0 !important;
			}
			label {
				color: greenyellow !important;
			}
			button {
				width: 10rem;
				background: rgb(18, 196, 142);
				border: none;
				font-family: ariel;
				color: yellow;
				&:hover {
					background: rgb(131, 23, 220);
					color: white;
				}
			}
			.movie {
				button {
					background: rgb(11, 85, 92);
					border-radius: 10px;
					padding: 0.15rem;
					width: 7rem;
				}
			}
			.amount {
				display: flex;
				align-items: center;
				.form__inputs {
					width: 14rem !important;
				}

				label {
					font-size: 0.9rem;
					color: black;
				}
			}
			.h4 {
				margin-top: -3rem;
				margin-bottom: 4rem;
				color: rgb(92, 11, 234);
				text-align: center;
			}
			.genre__list {
				position: absolute;
				background: black;
				color: white;
				height: 16rem !important;
				width: 90%;
				top: 21rem;
				z-index: 999 !important;
				padding: 0.6rem;
				p {
					margin-left: 0.6rem !important;
					font-size: 0.7rem;
					transition: all 0.5 ease-in-out;
					cursor: pointer;
				}
				&:hover {
					// text-decoration: underline;
				}
			}
			.submit {
				margin-top: 1.7rem !important;
				text-transform: none;
				color: red;
				font-weight: bold;
				width: 100%;
			}
		}
		.select {
			width: 10rem;
		}
	}
	.movie__list {
		flex: 4 !important;
		box-shadow: rgba(100, 20, 10, 0.08) -3px 4px 12px !important;
		padding: 0.5rem;

		h4 {
			color: rgb(188, 29, 213);
		}
		input {
			padding: 0.5rem;
			width: 4.4rem;
			outline: none;
			color: white;
			margin: 0.5rem auto 0 1rem !important;
			border-radius: 40px;
			background: rgb(60, 60, 80);
			transition: all 0.5s ease-in-out;
			&:focus-within {
				width: 95%;
			}
		}
		.listing {
			width: 98% !important;
			margin: 0.5rem 0.5rem !important;
		}
		th {
			font-size: 0.7rem;
			color: yellow;
		}
		td:not(:first-child) {
			font-size: 0.7rem;
			color: rgb(60, 194, 11) !important;
			font-weight: bold !important;
		}
	}
}

/* For Mobile phones */
@include phone($breakpoint-phone) {
	.feed {
		min-height: 75vh !important;
		overflow-y: hidden !important;
	}
	.feed__movies {
		min-height: 76vh !important;
		background: linear-gradient(
			hsl(306, 8%, 43%),
			hsl(300, 60%, 22%)
		) !important;
		width: 80% !important;
		position: relative;
		display: flex !important;
		flex-direction: column !important;
		.formd {
			flex: 1;
			position: relative;
			.amount {
				display: block !important;
				label {
					margin-top: 1rem !important;
				}
				input {
					margin-top: 0.6rem !important;
				}
			}
			.submit {
				margin-top: 0.6rem;
				font-size: 0.7rem;
				position: absolute;
				width: 92% !important;
			}

			.tabular,
			.h4 {
				display: block !important;
				font-size: 0.7rem;
			}
		}
		.movie__list {
			display: none !important;
		}
		.movie__listphone {
			flex: 4;
			position: absolute;
			box-shadow: rgba(100, 20, 10, 0.08) -3px 4px 12px !important;
			width: 130%;
			min-height: 85vh;
			overflow-x: scroll;
			background: white;
			padding: 0.8rem !important;
			z-index: 999;

			margin-left: -3.2rem !important;
			.movie__head {
				border-bottom: 1px solid lightgrey;
				h4,
				.span {
					font-size: 0.7rem;
				}
			}
			h4 {
				color: rgb(188, 29, 213);
			}
			input {
				padding: 0.5rem;
				width: 4.4rem;
				outline: none;
				color: white;
				margin: 0.5rem auto 0 1rem !important;
				border-radius: 40px;
				background: rgb(60, 60, 80);
				transition: all 0.5s ease-in-out;
				&:focus-within {
					width: 95%;
				}
			}
			.listing table {
				width: fit-content !important;
				height: 100%;
				margin-right: 1rem !important;
			}
			th,
			td {
				font-size: 0.5rem !important;
				color: yellow;
			}
		}
	}
}
