.feed {
	flex: 9;
	background: rgb(248, 240, 240);
	color: rgb(234, 226, 226);
	display: flex;
	justify-content: center;
	align-items: center;
	.feed__movies {
		height: 90%;
		width: 90%;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
	}
}
