@import url('https://fonts.googleapis.com/css?family=Ubuntu');
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-lgdesktop: 1480px;
@mixin phone($breakpoint-phone) {
	@media (max-width: $breakpoint-phone) {
		@content;
	}
}

// tablet mixin
@mixin tablet($breakpoint-phone) {
	@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
		@content;
	}
}
// laptop mixin
@mixin laptop($breakpoint-tablet) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin desktop($breakpoint-laptop) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin lgdesktop($breakpoint-desktop) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin lg($breakpoint-lgdesktop) {
	@media (min-width: $breakpoint-lgdesktop) {
		@content;
	}
}
.header {
	flex: 0.3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.2rem 4rem;

	.title {
		margin-left: 1rem;
		.nav {
			font-weight: bold;
			font-family: 'Ubuntu', sans-serif;
			font-weight: bolder;
			color: rgba(132, 12, 145, 0.61);
			text-align: center;
			cursor: pointer;
			letter-spacing: 5px;
			text-shadow: 6px 3px 20px #ff99cc, -4px 4px 30px #7fa710;
		}
	}
	.sites {
		button {
			margin: 0.4rem !important;
			font-family: 'Ubuntu', sans-serif;
			color: purple !important;
		}
	}
	.toggle__button {
		display: flex;
		justify-content: space-evenly;
		margin-right: 1rem;
		align-items: center;
		.theme {
			margin-right: 0.9rem !important;
		}
	}
	.disabled {
		pointer-events: none;
	}

	/* For Mobile phones */
	@include phone($breakpoint-phone) {
		.title {
			.nav {
				font-size: 0.9rem !important;
			}
		}
		.sites {
			button {
				font-size: 0.6rem !important;
			}
		}
		.menu {
			display: block !important;
		}
	}
	/* For tablets and large phones */
	@include tablet($breakpoint-phone) {
		.title {
			.nav {
				font-size: 0.9rem !important;
			}
		}
		.sites {
			button {
				font-size: 0.6rem !important;
			}
		}
		.menu {
			display: none !important;
		}
	}
	/* For tablets and large phones */
	@include laptop($breakpoint-tablet) {
		.title {
			.nav {
				font-size: 0.9rem !important;
			}
		}
		.sites {
			button {
				font-size: 0.6rem !important;
			}
		}
		.menu {
			display: none !important;
		}
	}
	/* For desktops */
	@include desktop($breakpoint-laptop) {
		.title {
			.nav {
				font-size: 0.9rem !important;
			}
		}
		.sites {
			button {
				font-size: 0.6rem !important;
			}
		}
		.menu {
			display: none !important;
		}
	}
	/* For large desktops*/
	@include lgdesktop($breakpoint-lgdesktop) {
		.title {
			.nav {
				font-size: 0.9rem !important;
			}
		}
		.sites {
			button {
				font-size: 0.6rem !important;
			}
		}
		.menu {
			display: none !important;
		}
	}
	/* For large desktops*/
	@include lg($breakpoint-lgdesktop) {
	}
}
