@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-lgdesktop: 1480px;
@mixin phone($breakpoint-phone) {
	@media (max-width: $breakpoint-phone) {
		@content;
	}
}

// tablet mixin
@mixin tablet($breakpoint-phone) {
	@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
		@content;
	}
}
// laptop mixin
@mixin laptop($breakpoint-tablet) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin desktop($breakpoint-laptop) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin lgdesktop($breakpoint-desktop) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin lg($breakpoint-lgdesktop) {
	@media (min-width: $breakpoint-lgdesktop) {
		@content;
	}
}

.landing {
	background-image: url('../assets/landing.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	font-family: 'Sofia Sans', sans-serif !important;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	.head__landing {
		flex: 0.7;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;
		.formd {
			display: flex;
			align-items: center;
			button {
				text-transform: none;
				&:hover {
					background: rgb(95, 127, 243);
				}
			}
			input {
				margin-right: 0.5rem;
				outline: none;
			}
		}
	}
	.center__landing {
		flex: 8;
		justify-content: space-between;
		display: flex;
		align-items: center;
		.center {
			flex: 3;
			max-width: 35rem;
			height: 61% !important;
			background: linear-gradient(
				rgba(244, 244, 244, 0.6),
				hsl(233, 34%, 45%)
			);
			padding: 1rem;
			margin-left: 2rem;
			button {
				margin-top: 2rem;
				width: 40%;
				border-radius: 50px;
				padding: 1rem;
				background: hsl(13, 17%, 16%) !important;
				font-family: helvetica sans-serif !important;
				color: rgb(166, 164, 164);
				border: 1px solid rgb(86, 85, 85);
				font-weight: bold;
				&:hover {
					background: rgb(71, 8, 5);
				}
			}
		}
		.videos {
			flex: 6;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			video {
				height: 80%;
			}
		}
	}
	.bottom__landing {
		display: block;
		flex: 2;
		background: rgb(122, 22, 22);
		.follow {
			.icon {
				padding: 0.6rem;
			}
		}
		.bottom__data {
			display: flex;
			flex-direction: column;
			padding: 0.6rem;
		}
	}
}
/* For Mobile phones */
@include phone($breakpoint-phone) {
	.head__landing {
		flex: 0.5 !important;
		.formd {
			input {
				margin-left: 0.8rem;
				width: 85%;
				&:not(:first-child) {
					width: 45%;
					margin-left: -0.4rem;
				}
			}
			button {
				padding: 0.2rem;
				font-size: 0.7rem;
			}
		}
	}
	.center__landing {
		margin-right: 1rem;
		flex: 5 !important;
		.center {
			height: 21.5rem !important;
			h2 {
				font-size: 1.2rem;
				padding: 0.6rem;
			}
			span {
				font-size: 1.39rem;
			}
			button {
				width: 60% !important;
				margin-top: 0.41rem !important;
			}
			.link {
				display: none;
			}
		}
	}
	.bottom__landing {
		flex: 2 !important;
	}
}
/* For tablets and large phones */
@include tablet($breakpoint-phone) {
	.center__landing {
		flex: 8;
		justify-content: space-between;
		display: flex;
		align-items: center;
		.center {
			flex: 3;
			max-width: 35rem;
			height: 61% !important;
			background: linear-gradient(
				rgba(244, 244, 244, 0.6),
				hsl(233, 34%, 45%)
			);
			padding: 1rem;
			margin-left: 1rem !important;
			button {
				margin-top: 2rem;
				width: 40%;
				border-radius: 50px;
				padding: 1rem;
				background: hsl(13, 17%, 16%) !important;
				font-family: helvetica sans-serif !important;
				color: rgb(166, 164, 164);
				border: 1px solid rgb(86, 85, 85);
				font-weight: bold;
				&:hover {
					background: rgb(71, 8, 5);
				}
			}
		}
		.videos {
			display: none;
			flex: 5 !important;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			video {
				width: 80%;
				height: 80%;
			}
		}
	}
}
/* For tablets and large phones */
@include laptop($breakpoint-tablet) {
	.center__landing {
		flex: 8;
		justify-content: space-between;
		display: flex;
		align-items: center;
		.center {
			flex: 3;
			max-width: 35rem;
			height: 61% !important;
			background: linear-gradient(
				rgba(244, 244, 244, 0.6),
				hsl(233, 34%, 45%)
			);
			padding: 1rem;
			margin-left: 1rem !important;
			button {
				margin-top: 2rem;
				width: 40%;
				border-radius: 50px;
				padding: 1rem;
				background: hsl(13, 17%, 16%) !important;
				font-family: helvetica sans-serif !important;
				color: rgb(166, 164, 164);
				border: 1px solid rgb(86, 85, 85);
				font-weight: bold;
				&:hover {
					background: rgb(71, 8, 5);
				}
			}
		}
		.videos {
			display: none !important;
			flex: 5 !important;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			video {
				width: 80%;
				height: 80%;
			}
		}
	}
}
/* For desktops */
@include desktop($breakpoint-laptop) {
	.center__landing {
		flex: 8;
		justify-content: space-between;
		display: flex;
		align-items: center;
		.center {
			flex: 3;
			max-width: 35rem;
			height: 61% !important;
			background: linear-gradient(
				rgba(244, 244, 244, 0.6),
				hsl(233, 34%, 45%)
			);
			padding: 1rem;
			margin-left: 1rem;
			button {
				margin-top: 2rem;
				width: 40%;
				border-radius: 50px;
				padding: 1rem;
				background: hsl(13, 17%, 16%) !important;
				font-family: helvetica sans-serif !important;
				color: rgb(166, 164, 164);
				border: 1px solid rgb(86, 85, 85);
				font-weight: bold;
				&:hover {
					background: rgb(71, 8, 5);
				}
			}
		}
		.videos {
			flex: 5;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			video {
				width: 80%;
				height: 80%;
			}
		}
	}
}
/* For large desktops*/
@include lgdesktop($breakpoint-lgdesktop) {
	.center__landing {
		flex: 8;
		justify-content: space-between;
		display: flex;
		align-items: center;
		.center {
			flex: 3;
			max-width: 35rem;
			height: 61% !important;
			background: linear-gradient(
				rgba(244, 244, 244, 0.6),
				hsl(233, 34%, 45%)
			);
			padding: 1rem;
			margin-left: 1rem;
			button {
				margin-top: 2rem;
				width: 40%;
				border-radius: 50px;
				padding: 1rem;
				background: hsl(13, 17%, 16%) !important;
				font-family: helvetica sans-serif !important;
				color: rgb(166, 164, 164);
				border: 1px solid rgb(86, 85, 85);
				font-weight: bold;
				&:hover {
					background: rgb(71, 8, 5);
				}
			}
		}
		.videos {
			flex: 5;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			video {
				width: 80%;
				height: 80%;
			}
		}
	}
}
/* For large desktops*/
@include lg($breakpoint-lgdesktop) {
	.center__landing {
		flex: 8;
		justify-content: space-between;
		display: flex;
		align-items: center;
		.center {
			flex: 3;
			max-width: 35rem;
			height: 61% !important;
			background: linear-gradient(
				rgba(244, 244, 244, 0.6),
				hsl(233, 34%, 45%)
			);
			padding: 1rem;
			margin-left: -1rem !important;
			button {
				margin-top: 2rem;
				width: 40%;
				border-radius: 50px;
				padding: 1rem;
				background: hsl(13, 17%, 16%) !important;
				font-family: helvetica sans-serif !important;
				color: rgb(166, 164, 164);
				border: 1px solid rgb(86, 85, 85);
				font-weight: bold;
				&:hover {
					background: rgb(71, 8, 5);
				}
			}
		}
		.videos {
			flex: 5;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 1rem !important;
			video {
				height: 80%;
			}
		}
	}
}
